<a [routerLink]="['/']" npm>

	<h1>FONEZONE</h1>
	
	<div style="display: flex;">
		<div>
			<input type="button" value="New Arrivals" onclick="alert('Work in progress')">
		</div>
		<div>
			<input type="button" value="Products" onclick="alert('Work in progress')">

		</div>
		<div>
			<input type="button" value="Special Offers" onclick="alert('Work in progress')">
		</div>
	</div>

</a>

<a [routerLink]="['/shopping_cart']" class="button fancy-button">
	<i class="material-icons">shopping_cart</i>Checkout</a>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->